body {
    background-color: #0b0c10;
    font-family: 'Inter', sans-serif;
}

.create-account-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.create-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-item {
    color: #c5c6c7;
}

.logo{
    color: #66FCF1;
    font-size: max(5vw, 40px);
    font-weight: bold;
    font-style: italic;
}

label {
    font-style: italic;
    font-family: 'Inter', sans-serif;
    font-size: max(2vw, 20px);
    display: block;
}

input {
    border: 1px solid #66FCF1;
    border-radius: 0%;
    height: 40px;
    font-size: max(2vw, 20px);
    width: 99%;
}

.form-input {
    display: block;
}

.form-button {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    border: 1px solid #66FCF1;
    border-radius: 0%;
    font-size: max(2vw, 20px);
    padding: 5px;
    color: #45A29E;
    transition-duration: .3s;
}

.form-button:hover {
    background-color: #4b4b4b;
  }

.button-container {
    text-align: center;
}

.create--page--backBtn{
    font-size: 50px;
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.create--page--backBtn:hover{
    transition: .2s ease-in-out;
    margin-left: -8px;
}